* {
  box-sizing: border-box;
  font-family: 'Staatliches';
}

*:hover {
  cursor: default;
}

#warp-transition {
  width: 100vw;
  height: 100vh;
}

#nautilus-loading-screen {
  width: 100vw;
  height: 100vh;
}

.credits {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a60b142f-6096-4738-8703-06c3cef042f9/d4zjm3y-dd9e760f-5bde-4361-94be-8d993a864c29.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYTYwYjE0MmYtNjA5Ni00NzM4LTg3MDMtMDZjM2NlZjA0MmY5XC9kNHpqbTN5LWRkOWU3NjBmLTViZGUtNDM2MS05NGJlLThkOTkzYTg2NGMyOS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.IaxbDiM23xKxbXg2co_Nn4ewo3UEwflSCHZoaCCQvzo');
  height: 100vh;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-size: 30px;
}

.link {
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.link:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.hud-header {
  height: 150px;
}

.player-hud {
  display: flex;
  flex-flow: column wrap;
}

.current-episode {
  width: 100%;
  text-align: center;
}

.hud-body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.hud {
  background-color: rgb(65, 64, 64);
  background-size: cover;
  height: 100vh;
  color: white;
}

.player {
  display: flex;
  flex-flow: column wrap;
  width: 35%;
  align-items: center;
}

.player-bio {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: rgba(28, 74, 130, 0.413);
  background-repeat: no-repeat;
  background-size: cover;
  border: silver 8px groove;
  border-radius: 50px;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}

.label {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.label > h2 {
  width: 100%;
}

.label > p {
  width: 45%;
}

.player-harm {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: rgba(28, 74, 130, 0.413);
  background-repeat: no-repeat;
  background-size: cover;
  border: silver 8px groove;
  border-radius: 50px;
  padding: 5px;
  margin: 10px;
  font-size: 20px;

}

.player-harm-child {
  width: 85%;
}

progress {
  width: 100%;
}

.prompt {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(28, 74, 130, 0.413);
  background-repeat: no-repeat;
  background-size: cover;
  border: silver 8px groove;
  border-radius: 50px;
  padding: 5px;
  margin: 10px;
  font-size: 25px;
  height: 100vh;
}

.prompt-header {
  display: flex;
  width: 100%;
  height: 10%;
}

.prompt-texts {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
}

.prompt-text {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  width: 100%;
  padding: 10px;
}

.prompt-options {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  width: 100%;
  justify-content: space-evenly;
  
}

.prompt-option {
  width: 50%;
  text-align: center;
  height: fit-content;
}

.button {
  background-color: rgba(0, 0, 0, 0.345);
  color: white;
  font-size: 25px;
  border-radius: 10px;
  padding: 10px;
}

.inventory {
  display: flex;
  flex-flow: column wrap;
  width: 25%;
  align-items: center;
  background-color: rgba(28, 74, 130, 0.413);
  background-repeat: no-repeat;
  background-size: cover;
  border: silver 8px groove;
  border-radius: 50px;
  padding: 5px;
  margin: 10px;
  height: fit-content;
  font-size: 20px;

}

.invetory-items {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-items: flex-start;
}

.high-score-menu {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a60b142f-6096-4738-8703-06c3cef042f9/d4m2ldq-0a9b64fa-64ed-4752-a0fb-34bdb0615b72.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYTYwYjE0MmYtNjA5Ni00NzM4LTg3MDMtMDZjM2NlZjA0MmY5XC9kNG0ybGRxLTBhOWI2NGZhLTY0ZWQtNDc1Mi1hMGZiLTM0YmRiMDYxNWI3Mi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.nEHXRTtZPdwVVr835x4pRp88B10h66KLGrHJ7a-gVkU');
  color: white;
  background-size: cover;
}

.high-score-table-header {
  display: flex;
  height: 100px;
  justify-content: flex-end;
  padding: 20px 50px;
}

.high-score-table-container {
  display: flex;
  flex-flow: column wrap;
  font-size: 25px;
}

#leader-board-header {
  text-decoration: underline;
}


