#character-selection {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background-color: rgb(65, 64, 64);
    background-size: cover;
    background-repeat: no-repeat;
    flex-flow: row wrap;
    padding-top: 20px;
}

#title {
    font-size: 36px;
    align-self: center;
}

#character-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: rgba(28, 74, 130, 0.413);
    border: silver 8px groove;
    border-radius: 50px;
    width: 45%;
    height: 70%;
    color:  white;
    font-weight: bold;
    padding: 10px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: silver 3px groove;
    background-color: rgba(28, 74, 130, 0.413);
}

.link:hover {
    transform: scale(1.1);
}

.character-names {
    font-size: 26px;
    padding: 5px;
}
  
.character-names:hover {
    text-decoration: underline;
    cursor: pointer;
}

#select-character {
    align-self: center;
}

#character-description {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    color:white;
    background-color: rgba(28, 74, 130, 0.413);
    border: silver 8px groove;
    border-radius: 50px;
    width: 45%;
    height: 70%;
    color:  white;
    font-size: 30px;
    margin: 10px;

}

#emptydiv {
    width: 45%;
    height: 70%;
}   

.disabled {
    pointer-events: none;
    background-color: grey;
}

#character-manipulation-buttons {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}