* {
  margin: 0;
}

.create-character-body {
    background-color: rgb(65, 64, 64);
    background-size: cover;
    color: white;
    height: 100vh;
}
  
.create-character-header {
  display: flex;
  justify-content: flex-end;
  height: 15%;
  padding: 20px 50px;
}

.create-character-main {
  display: flex;
  flex-flow: column wrap;
  height: 85%;
}

.creation-middle {
  display: flex;
  width: 100%;
  height: 85%;
}

.player-input {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-content: center;
  width: 50%;
}

.choose-player-name {
  width: 75%;
  height: 25%;
  background-color: rgba(28, 74, 130, 0.413);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.player-name-input {
  background-color: rgba(0, 0, 0, 0.351);
  color: white;
  height: 25%;
  font-size: 20px;
  width: fit-content;
  align-self: center;
  margin-top: 10px;
}

::placeholder {
  color: white;
  text-align: center;
}

.detail-selector-container{
  width: 75%;
  height: 25%;
  background-color: rgba(28, 74, 130, 0.413);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  
}

.detail-select {
  background-color: rgba(0, 0, 0, 0.269);
  color: white;
  height: 30px;
  font-size: 20px;
  margin-top: 10px;
  width: fit-content;
  align-self: center;
}

#details {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 50%;
  font-size: 26px;
  border-radius: 10px;
  align-content: center;
}

.detail-sections {
  width: 75%;
  height: 33%;
  background-color: rgba(28, 74, 130, 0.413);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.button-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 15%;
  padding-bottom: 15px;
}

#attribute-adjustment {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  height: 85%;
  background-color: rgba(28, 74, 130, 0.413);
  align-self: center;
  border-radius: 10px;
}

#total-points {
  width: 100%;
  align-self: center;
  text-align: center;
}

.attribute-card {
  width: 50%;
  height: 12%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.attribute {
  display: flex;
  width: 100%;
  justify-content: center;
}

.change-score {
  font-size: 25px;
  padding: 0 10px;
  margin: 0 15px;
  border: silver 3px groove;
  border-radius: 50%;
  color: silver;
}

.grey-out {
  font-size: 25px;
  padding: 0 10px;
  margin: 0 15px;
  border: silver 3px groove;
  background-color: grey;
  border-radius: 50%;
}

.change-score:hover {
  cursor: pointer;
}
